<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div>
        <div>
            <a href="/" ><h1>Blog Post</h1></a>
        </div>
        <div>
            <p>A Random blog site</p>
            <%- include('./partials/nav.ejs') %>
        </div>
        <div>
            <h2>About Us</h2>

            <p> majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <p> majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <p> majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <p> majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>