<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div>
        <div>
            <a href="/" ><h1>Blog Post</h1></a>
        </div>
        <div>
            <p>A Random blog site</p>
            <%- include('./partials/nav.ejs') %>
        </div>
        <div>
            <h1> OOPS!!! Page Not Exist</h1>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>